@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Storc, 78<br />
    <abbr title="Phone">P: 097 799 7908</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@abcsupermarket.com">Support@abcsupermarket.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@abcsupermarket.com">Marketing@abcsupermarket.com</a>
</address>