@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pretoria, Gauteng<br />
    Phone number: 078 785 3789 <br />
    Telephone number: 011 8944 3847 <br />
    Fax: 011 289 3994
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@domingoroofworks.com">Support@domingoroofworks.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@domingoroofworks.com">Marketing@domingoroofworks.com</a>
</address>